body {
  margin: 0;

  background: var(--site-background-color);
}

#container {
  display: flex;
  flex-direction: column;
}

#header {
  height: 5rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  background: var(--header-background-color);
  color: var(--text-color);
}

#headerTitle {
  height: 5rem;
  width: fit-content;

  margin: 0;
  margin-left: auto;
  margin-right: auto;

  text-wrap: nowrap;
  text-decoration: none;;

  font-size: large;

  color: var(--text-color);
}

.header-button {
  margin-right: 1rem;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;

  font-size: xx-large;

  background: none;
  color: var(--text-color);
}

.header-button:hover {
  cursor: pointer;

  outline: 2px solid var(--header-button-outline-color);
}

#ms-game {
  display: flex;
  flex-direction: column;

  cursor: var(--game-cursor);
}

#main-menu {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#main-menu-header {
  font-size: 10vw;
}

#main-menu-button {
  width: 40%;
  height: fit-content;

  font-size: 500%;

  background: var(--hud-button-color);
}

#ms-game-hud {
  height: 5rem;
  width: 100%;

  display: flex;
  align-items: baseline;
  justify-content: left;

  background: var(--hud-panel-color);
}

.ms-game-hud-display {
  margin-left: 1rem;
  margin-right: 1rem;
}

.ms-game-hud-button {
  width: fit-content;
  height: fit-content;

  margin-left: 1rem;

  font-size: x-large;

  background: var(--hud-button-color);
}

#ms-game-hud-clear-flags-button {
  margin-left: auto;
  margin-right: 1rem;
}

.ms-game-hud-button:hover {
  cursor: pointer;
  background: var(--hud-button-focus-color);
}

.ms-game-hud-button:active {
  background: var(--hud-button-active-color);
}

#ms-board-container {
  height: calc(100vh - 10rem);
  width: 100%;

  display: flex;

  overflow-x: auto;
}

#ms-board {
  height: fit-content;
  width: fit-content;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  
  text-wrap: nowrap;

  outline: 2px solid var(--panel-outline-color-1);
}

.ms-row {
  width: fit-content;
}

.ms-cell-container {
  display: inline;
}

.ms-cell-container-game-over-reveal {
  opacity: 0.35;
}

.ms-cell {
  height: 2rem;
  width: 2rem;

  vertical-align: middle;

  padding: 0;

  border-style: outset;
  font-size: x-large;

  background: var(--unopened-cell-color);
}

.cell-image {
  width: 100%;
  height: 100%;
}

.ms-cell-hint {
  background: var(--cell-hint-color);
}

.ms-cell-bomb-hint {
  background: var(--cell-bomb-hint-color);
}

.ms-cell:hover {
  cursor: var(--cell-cursor);

  background: var(--unopened-cell-focus-color);
}

.ms-cell:active {
  background: var(--unopened-cell-active-color);
}

.ms-cell-hint:hover {
  background: var(--cell-hint-hover-color);
}

.ms-cell-hint:active {
  background: var(--cell-hint-active-color);
}

.ms-cell-bomb-hint:hover {
  background: var(--cell-bomb-hint-hover-color);
}

.ms-cell-bomb-hint:active {
  background: var(--cell-bomb-hint-active-color);
}

.ms-cell-opened {
  border-style: inset;

  background: var(--opened-cell-color);
}

.ms-cell-opened:hover {
  cursor: auto;

  background: var(--opened-cell-color);
}

.ms-cell-opened:active {
  background: var(--opened-cell-color);
}

#ms-game-end-screen {
  position: fixed;

  height: calc(100% - 5rem);
  width: 100%;
  
  top: 5rem;
  left: 0;

  display: flex;
  flex-direction: column;

  z-index: 1;

  text-align: center;

  background-color: var(--overlay-color);
}

#ms-game-end-menu {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 15rem;
}

.ms-game-end-label {
  height: fit-content;
  width: 100%;

  margin: 0;

  font-size: 10vw;
  text-align: center;
}

#ms-game-end-time-label {
  margin-bottom: 1rem;
  
  font-size: 4vw;
}

.ms-game-end-button {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;

  font-size: 4rem;
  text-wrap: nowrap;

  background: var(--game-end-button-color);
  color: var(--text-color);
}

#ms-game-end-visibility-button {
  margin: 0;
  margin-left: auto;

  font-size: 1rem;
  text-wrap: nowrap;
}

#ms-game-end-new-highscore {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

#ms-game-end-new-highscore-label {
  display: inline;
  height: fit-content;
  width: fit-content;

  font-size: 5vw;
}

#ms-game-end-new-highscore-button {
  margin: 0;

  display: inline;

  font-size: 1vw;
}


#ms-game-end-leaderboards-buttons {
  margin-bottom: 1rem;

  font-size: 1.5rem;
}

.ms-game-end-button:hover {
  cursor: pointer;

  background: var(--game-end-button-focus-color);
  color: var(--text-color);
}

.ms-game-end-button:active {
  background: var(--game-end-button-active-color);
}

#play-menu-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
}

#play-menu {

  width: fit-content;
  height: fit-content;

  margin-right: 2px;

  padding: 1rem;
  display: flex;
  flex-direction: column;

  outline: 2px solid var(--panel-outline-color);
  background: var(--panel-background);
  color: var(--text-color);
}

#pm-templates {
  width: fit-content;
  height: fit-content;

  padding: 1rem;

  display: flex;
  flex-direction: column;

  outline: 2px solid var(--panel-outline-color);
  background: var(--panel-background);
  color: var(--text-color);
}

#play-menu-header {
  text-decoration: underline;
}

.pm-setting {
  margin-bottom: 1rem;
}

.pm-header {
  width: 15rem; /* To make the panel broader */

  margin: 0;
  margin-bottom: 0.2rem;
}

#pm-board-size-inputs {
  display: flex;
}

.pm-input {
  height: 1rem;
  width: 2.5rem;

  outline-offset: -1px;

  background: var(--input-color);
  color: var(--text-color);
}

#pm-board-size-input-divider {
  margin: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.pm-checkbox {
  accent-color: var(--checkbox-accent-color);
}

#pm-start-button {
  margin: 0;

  width: 50%;

  align-self: center;

  font-size: x-large;
}

.pm-button {
  background: var(--menu-button-color);
  color: var(--text-color);
}

.pm-button:hover {
  cursor: pointer;
  background: var(--menu-button-focus-color);
}

.pm-button:active {
  background: var(--menu-button-active-color);
}

.pm-template-button {
  font-size: larger;
}

.pm-start-button:hover {
  cursor: pointer;
  background: var(--menu-button-focus-color);
}

.pm-start-button:active {
  background: var(--menu-button-active-color);
}

.pm-start-button-disabled,
.pm-start-button-disabled:hover,
.pm-start-button-disabled:active {
  cursor:default;
  border: 1px solid var(--menu-button-disabled-border);

  color: var(--menu-button-disabled-text);
  background: var(--menu-button-disabled)
}

#ms-leaderboards {
  position: fixed;

  top: 30%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  align-items: center;
}

#ms-leaderboards-table {
  width: fit-content;

  border-collapse: collapse;

  border: 2px solid;
}

#ms-leaderboards-select {
  width: fit-content;

  margin-bottom: 1rem;

  font-size: large;

  outline: 1px solid black;

  background: var(--input-color);
  color: var(--text-color);
}

.ms-leaderboards-table-header-cell {
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  font-size: xx-large;

  border: 2px solid;
  background: var(--table-header-background);
}

.ms-leaderboards-table-cell {
  text-align: center;

  font-size: x-large;
  font-weight: bold;

  border: 2px solid;

  background: var(--table-cell-background);
}

:root {
  /* General */
  --site-background-color: rgb(228, 228, 228);
  --text-color: black;
  --overlay-color: rgba(160, 160, 160, 0.5);

  --input-color: rgb(228, 228, 228);

  --input-error-color: red;

  /* Cells */
  --unopened-cell-color: rgb(195, 195, 195);
  --unopened-cell-focus-color: rgb(175, 175, 175);
  --unopened-cell-active-color: rgb(155, 155, 155);
  --opened-cell-color: rgb(220, 220, 220);

  --cell-hint-color: rgb(95, 190, 90);
  --cell-hint-hover-color: rgb(75, 170, 70);
  --cell-hint-active-color: rgb(55, 150, 50);

  --cell-bomb-hint-color: rgb(190, 95, 90);
  --cell-bomb-hint-hover-color: rgb(170, 75, 70);
  --cell-bomb-hint-active-color: rgb(150, 55, 50);

  --cell-game-over-reveal-color: rgb(120, 120, 120);

  /* HUD */
  --hud-panel-color: rgb(170, 170, 170);

  /* Buttons */
  --menu-button-color: rgb(220, 220, 220);
  --menu-button-focus-color: rgb(210, 210, 210);
  --menu-button-active-color: rgb(200, 200, 200);

  --menu-button-disabled: rgb(222, 222, 222);
  --menu-button-disabled-border: rgba(104, 104, 104, 0.7);
  --menu-button-disabled-text: rgba(0, 0, 0, 0.6);

  --hud-button-color: rgb(150, 150, 150);
  --hud-button-focus-color: rgb(135, 135, 135);
  --hud-button-active-color: rgb(120, 120, 120);

  --game-end-button-color: rgb(155, 155, 155);
  --game-end-button-focus-color: rgb(140, 140, 140);
  --game-end-button-focus-color: rgb(120, 120, 120);

  /* Checkbox */
  --checkbox-accent-color: rgb(0, 115, 255);

  /* Panels */
  --panel-background: rgb(193, 193, 193);
  --panel-outline-color: black;

  /* Tables */
  --table-header-background: rgb(165, 165, 165);
  --table-cell-background: rgb(200, 200, 200);

  /* Header */
  --header-background-color: rgb(120, 120, 120);
  --header-button-outline-color: rgb(75, 75, 75);

  /* Cell cursor */
  --game-cursor: auto;
  --cell-cursor: pointer;
}

.metal-detector-active {
  --cell-cursor: help;
  --game-cursor: help;
}

.dark-mode {
  /* General */
  --site-background-color: rgb(110, 110, 110);
  --text-color: rgb(15, 15, 15);
  --overlay-color: rgba(100, 100, 100, 0.5);

  --input-color: rgb(130, 130, 130);
  --input-error-color: rgb(220, 0, 0);

  /* Cells */
  --unopened-cell-color: rgb(140, 140, 140);
  --unopened-cell-focus-color: rgb(120, 120, 120);
  --unopened-cell-active-color: rgb(100, 100, 100);
  --opened-cell-color: rgb(170, 170, 170);

  --cell-hint-color: rgb(70, 150, 70);
  --cell-hint-hover-color: rgb(55, 130, 50);
  --cell-hint-active-color: rgb(35, 110, 30);

  --cell-bomb-hint-color: rgb(150, 70, 70);
  --cell-bomb-hint-hover-color: rgb(130, 55, 50);
  --cell-bomb-hint-active-color: rgb(110, 35, 30);

  --cell-game-over-reveal-color: rgb(120, 120, 120);

  /* HUD */
  --hud-panel-color: rgb(80, 80, 80);

  /* Buttons */
  --menu-button-color: rgb(90, 90, 90);
  --menu-button-focus-color: rgb(80, 80, 80);
  --menu-button-active-color: rgb(70, 70, 70);

  --menu-button-disabled: rgb(140, 140, 140);
  --menu-button-disabled-border: rgba(45, 45, 45, 0.7);
  --menu-button-disabled-text: rgba(0, 0, 0, 0.6);

  --hud-button-color: rgb(80, 80, 80);
  --hud-button-focus-color: rgb(70, 70, 70);
  --hud-button-active-color: rgb(60, 60, 60);

  --game-end-button-color: rgb(95, 95, 95);
  --game-end-button-focus-color: rgb(80, 80, 80);
  --game-end-button-active-color: rgb(60, 60, 60);

    /* Checkbox */
    --checkbox-accent-color: rgb(0, 100, 223);

  /* Panels */
  --panel-background: rgb(95, 95, 95);
  --panel-outline-color: rgb(10, 10, 10);

  /* Tables */
  --table-header-background: rgb(100, 100, 100);
  --table-cell-background: rgb(130, 130, 130);

  /* Header */
  --header-background-color: rgb(60, 60, 60);
  --header-button-outline-color: rgb(75, 75, 75);
}